@model IEnumerable<TentaWeb.Models.Student>
@model TentaWeb.Models.Student


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tenta</title>
</head>
<body>
     @Model.Name @Model.Email
</body>
</html>
